InventoryWebService/Connected Services/SalesmanServiceReference1/SalesmanWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="InsertNewSalesman">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="newSalesman" type="tns:SalesmanBO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SalesmanBO">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="SalesmanId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Commission" type="s:float" />
        </s:sequence>
      </s:complexType>
      <s:element name="InsertNewSalesmanResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertNewSalesmanResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateSalesmanInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="newSalesman" type="tns:SalesmanBO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateSalesmanInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateSalesmanInfoResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteSalesmanInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="newSalesman" type="tns:SalesmanBO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteSalesmanInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteSalesmanInfoResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="InsertNewSalesmanSoapIn">
    <wsdl:part name="parameters" element="tns:InsertNewSalesman" />
  </wsdl:message>
  <wsdl:message name="InsertNewSalesmanSoapOut">
    <wsdl:part name="parameters" element="tns:InsertNewSalesmanResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateSalesmanInfoSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateSalesmanInfo" />
  </wsdl:message>
  <wsdl:message name="UpdateSalesmanInfoSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateSalesmanInfoResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteSalesmanInfoSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteSalesmanInfo" />
  </wsdl:message>
  <wsdl:message name="DeleteSalesmanInfoSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteSalesmanInfoResponse" />
  </wsdl:message>
  <wsdl:portType name="SalesmanWebServiceSoap">
    <wsdl:operation name="InsertNewSalesman">
      <wsdl:input message="tns:InsertNewSalesmanSoapIn" />
      <wsdl:output message="tns:InsertNewSalesmanSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateSalesmanInfo">
      <wsdl:input message="tns:UpdateSalesmanInfoSoapIn" />
      <wsdl:output message="tns:UpdateSalesmanInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteSalesmanInfo">
      <wsdl:input message="tns:DeleteSalesmanInfoSoapIn" />
      <wsdl:output message="tns:DeleteSalesmanInfoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SalesmanWebServiceSoap" type="tns:SalesmanWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertNewSalesman">
      <soap:operation soapAction="http://tempuri.org/InsertNewSalesman" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSalesmanInfo">
      <soap:operation soapAction="http://tempuri.org/UpdateSalesmanInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteSalesmanInfo">
      <soap:operation soapAction="http://tempuri.org/DeleteSalesmanInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SalesmanWebServiceSoap12" type="tns:SalesmanWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertNewSalesman">
      <soap12:operation soapAction="http://tempuri.org/InsertNewSalesman" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSalesmanInfo">
      <soap12:operation soapAction="http://tempuri.org/UpdateSalesmanInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteSalesmanInfo">
      <soap12:operation soapAction="http://tempuri.org/DeleteSalesmanInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SalesmanWebService">
    <wsdl:port name="SalesmanWebServiceSoap" binding="tns:SalesmanWebServiceSoap">
      <soap:address location="https://localhost:44356/SalesmanWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="SalesmanWebServiceSoap12" binding="tns:SalesmanWebServiceSoap12">
      <soap12:address location="https://localhost:44356/SalesmanWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>